{% extends "hr.html" %}
{% load staticfiles %}
{% block mycode %}
<div class="box box-solid bg" style="width:50%;margin-left:5%;margin-right:19%;">
    <div class="box-header" style="background:#D2691E">
      <i class="fa fa-calendar"></i>
      <h3 class="box-title">Calendar</h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <!-- button with a dropdown -->
        <div class="btn-group">
        </div>
        <button class="btn btn-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-info btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
      </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body no-padding bg" style="height:50vh;width:100%;border:1px solid #D2691E;border-top:none;">
      <!--The calendar -->
      <div id="calendar" style="width: 100%"></div>
    </div><!-- /.box-body -->
         </div><!-- /.box -->
         {% endblock %}