{% extends 'index.html'%}
{% load staticfiles %}
{% block mycode %}
        <style>
        .content{
          background-image: url("{% static 'images\body-bg.jpg' %}");
          background-repeat:no-repeat;
          background-size:100% 100%;
          background-position: fixed;  
        }
        </style>
        
<!-- Main content -->
        <section class="content" >
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
              <!-- Custom tabs (Charts with tabs)-->
              <div class="box box-primary bg">
                <div class="box-header" style="background:#D2691E">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title" style="color:white;">Attendance</h3>
                  <div class="box-tools pull-right">
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body bg"  style="height:40vh;width:100%;border:1px solid #D2691E;border-top:none;">
                  <div class="noticeBox mx-auto">
                            
                    <div class="ml-3">
                        <br>
                            <div style="background: lightgray;height:20px;width:130px;display: inline-block;">Last Check-In:</div>
                            <span id="checkin" class="ml-2" style="color:white;display:inline-block;">{{ctime}}</span><br>

                    </div>
                    <div class="mt-2 ml-3">
                            <div style="background: lightgray;height:20px;width:130px;margin-top:20px;display:inline-block;">Last Check-Out:</div>
                            <span id="checkout" class="ml-2" style="color:white;display:inline-block;">{{cout}}</span><br>
                    </div>
                    <br>
                   <div class="mt-2 ml-3">
                        <div style="background: lightgray;height:20px;width:130px;display: inline-block;">first-Check-In:</div>
                    <span id="firstcheckin" class="" style="color:white;display: inline-block;">{{user.date_joined}}</span>
                   </div>
                   
                   <div  class="mt-2 ml-5" style="float:right;">
                       <form action="{% url 'myApp:attendanceUser' %}" method="post">
                         {% csrf_token %}
                         {% if show %}
                          {% if user_in %}
                          <input type="submit" value="Check-Out" class="btn btn-sm btn-danger" style="height:40px;width:100px;font-size:15px;" name="checkout">
                          {% else %}
                          <input type="submit" value="Check-In" class="btn btn-sm btn-success" style="height:40px;width:100px;font-size:15px;" name="checkin" />
                          
                          {% endif %}
                          {% endif %}
                       </form>
                   </div>
                </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              <div class="box box-primary bg">
                <div class="box-header" style="background:#D2691E">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title" style="color:white;">Notice</h3>
                  <div class="box-tools pull-right">
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body bg"  style="height:40vh;width:100%;border:1px solid #D2691E;border-top:none;overflow:auto;">
                  <div class="noticeBox mx-auto">
                      <marquee behavior="scroll" direction="up" scrolldelay="200">
                        <ul class="menu" style="color:white;">
                          {% for i in d %}
                          <li>
        
                                <h5 style="color:white;"> {{i.text}} &nbsp;&nbsp;<p style="float:right;color:red;background:cornsilk">{{i.notify_on}}</p></h5>
                              
                            </li>
                          {% endfor %}
                       
                      </ul>
                      </marquee>
                </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
             
            </section><!-- /.Left col -->
            
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

              <!-- Calendar -->
              <div class="box box-solid bg" >
                <div class="box-header" style="background:#D2691E">
                  <i class="fa fa-calendar"></i>
                  <h3 class="box-title">Calendar</h3>
                  <!-- tools box -->
                  <div class="pull-right box-tools">
                    <!-- button with a dropdown -->
                    <div class="btn-group">
                    </div>
                    <button class="btn btn-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-info btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding bg" style="height:40vh;width:100%;border:1px solid #D2691E;border-top:none;">
                  <!--The calendar -->
                  <div id="calendar" style="width: 100%"></div>
                </div><!-- /.box-body -->
                     </div><!-- /.box -->

                     <div class="box box-primary bg" >
                      <div class="box-header" style="background:#D2691E">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title text">Upcoming Events</h3>
                        <div class="box-tools pull-right">
                         
                        </div>
                      </div><!-- /.box-header -->
                      <div class="box-body bg" style="height:40vh;width:100%;border:1px solid #D2691E;border-top:none;">
                        <ul class="todo-list">
                          {% for i in e %}
                          <li style="background:rgba(0,0,0,0.5);">
                            <!-- drag handle -->
                            <span class="handle">
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- todo text -->
                            <span class="text">{{i.event_text}}</span>
                            <!-- Emphasis label -->
                            <small class="label label-danger"><i class="fa fa-clock-o"></i> new</small>
                            <!-- General tools such as edit or delete-->
                          </li>
                          {% endfor %}
                        </ul>
                      </div><!-- /.box-body -->
                    </div><!-- /.box -->
            </section><!-- right col -->
          </div><!-- /.row (main row) -->
<script>
$(function(){
  $.ajax({
    url:"{% url 'myApp:getstatus'%}",
    type:'get',
    data:{uid:'{{request.user.id}}'},
    success:function(data){
      alert(data)
    }
  })
})
</script>
        </section><!-- /.content -->
        {% endblock %}