<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src="{% static 'jqueryFile.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                    <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit">
                        </form>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('label[for=id_spouse_working]').hide();
            $('label[for=id_children]').hide();
            $('label[for=id_child_study]').hide();
            $('#id_spouse_working').hide();
            $('#id_children').hide();
            $('#id_child_study').hide();
        });
    $('#id_marital_status').change(function(){
        let vl = $(this).val();
        if(vl=="Married"){
            $('label[for=id_spouse_working]').show();
            $('label[for=id_children]').show();
            $('label[for=id_child_study]').show();
            $('#id_spouse_working').show();
            $('#id_children').show();
            $('#id_child_study').show();
        }else{
            $('label[for=id_spouse_working]').hide();
            $('label[for=id_children]').hide();
            $('label[for=id_child_study]').hide();
            $('#id_spouse_working').hide();
            $('#id_children').hide();
            $('#id_child_study').hide();
        }
    })
    </script>
</body>
</html>